body{
    background-color: hsl(212, 45%, 89%)
}

.cardDiv{
    width: 21rem;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
}

h4{
    text-align: center; font-weight: 700; color: hsl(218, 44%, 22%) 
}

p{
    text-align: center; font-family: 'Outfit', sans-serif; font-weight: 400; color: hsl(220, 15%, 55%);
}